<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">
        <div class="main-box" style="margin:0 auto ;width:50%;">
              <form class="form-signin" method="post">
                <h3 class="form-signin-heading">{$Think.Lang.reset_password}</h3>

                <input type="password" class="input-block-level" name="password"  placeholder="{$Think.Lang.reset_password_new_password}">
                <button class="btn  btn-primary" type="submit">{$Think.Lang.submit}</button>
              </form>
        </div><!-- /main-box -->
    </div> <!-- /container -->

 <include file="Common/footer" />

