<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">
        <div class="main-box" style="margin:0 auto ;width:50%;">
            <ul class="nav nav-pills ">
                <li class="active"><a href="#tab1" data-toggle="tab">修改密码</a></li>
                <!-- <li><a href="?s=/home/user/updateemail">我的邮箱</a></li> -->
                <li class="pull-right"> <a href="?s=/home/item/index">返回</a></li>
            </ul>
              <form class="form-signin" method="post">
                <h3 class="form-signin-heading">{$Think.Lang.update_personal_password}</h3>
                <input type="text" class="input-block-level" value="{$user.username}" disabled >
                <input type="password" class="input-block-level" name="new_password"  placeholder="{$Think.Lang.new_password_description}">
                <input type="password" class="input-block-level" name="password"  placeholder="{$Think.Lang.old_password_description}">
                <button class="btn  btn-primary" type="submit">{$Think.Lang.submit}</button>
                <a href="javascript:history.go(-1)" class="btn">{$Think.Lang.goback}</a>
              </form>
        </div><!-- /main-box -->
    </div> <!-- /container -->

 <include file="Common/footer" />

